*.pyc
/env
/.vscode
test_solution.pkl
/Classes/__pycache__
/template-latex/*.aux
/template-latex/*.log
/template-latex/*.bbl
/template-latex/*.dvi
/template-latex/*.fdb_latexmk
/template-latex/*.fls
/template-latex/*.synctex.gz
tests/GAxVNS/results/solutions_400_GA.pkl
tests/run_parallel/results/script_800_results.pkl
/sn-article-template/*.aux
/sn-article-template/*.log
/sn-article-template/*.bbl
/sn-article-template/*.blg
/sn-article-template/*.fdb_latexmk
/sn-article-template/*.fls
/sn-article-template/*.synctex.gz
/sn-article-template/*.out